.download-bg {
	padding: 10px;
	margin-bottom: 15px;
	min-height: 150px;
	background-color: #FAFAFA;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 0px;
}

.download-bg:hover {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #19AAF8;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 0px;
}


.download-bg .show_1 {

	padding-top: 15px;
	padding-left: 15px;
	
}

.download-bg .show_2 {
	color: #FFFFFF;
	
}

.download-bg .show_2 img {
	margin-top: 15px;
	margin-bottom: 15px;
}

