.interactive{
	margin-bottom: 5px;
}

.interactive-active {
	cursor: pointer;
	background-color: #19AAF8;
	font-family: "Dtac-Bold";
	color: #FFFFFF;
	padding: 10px;
	min-width: 420px
	border-top-left-radius: 25px;
	border-top-right-radius: 26px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 25px;
}

.interactive-list {
	background-color: #FAFAFA;
	padding: 10px;
	min-width: 420px
}

.interactive-list:hover {
	cursor: pointer;
	background-color: #E6E4E4;
	font-family: "Dtac-Bold";
	padding: 10px;
	min-width: 420px
	border-top-left-radius: 25px;
	border-top-right-radius: 26px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 25px;
}
