
.news .box-session{
  padding-left: calc(((100% - 1240px) / 2) - 270px );
  padding-right: calc(((100% - 1240px) / 2) - 330px);
}

.session-news {
	
}

.news a {
	color: #000000;
    font-weight: bolder;
}

.news h1 {

  padding-bottom: 30px;
  
}

.news-content{
  padding-left: 5%;

}