                
.session .policy{
  padding: 5%;
}

.show-PC{
  display: block;
}

.show-M{
  display: none;
}

@media (max-width: 425px) {


  .show-PC{
    display: none;
  }

  .show-M{
    display: block;
  }

}
