/***********project************/


.project .box-session{
  padding-left: calc(((100% - 1240px) / 2) - 270px );
  padding-right: calc(((100% - 1240px) / 2) - 330px);
}

.project .oversize-l {

  margin-bottom: 10px;
  
}

.project_sl {
  width: 70%
}

.project .img-head{
  margin-bottom: 35px;
}

.project_sl img {
  max-height: 550px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0px;
} 

.project_sl_img {
  background-size: cover;
  height: 500px;
  /*max-height: 550px;*/
  /*height: 740px;*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*background-position: right;*/
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0px;
}

.project p{
  margin-bottom: 20px;
}

.project-content{
  padding-left: 5%;
  padding-bottom: 15px;
  width: 30%;
}

.project-content .content{
  width: 80%;
}


.project-sl{

 max-width: 960px;
}

.img-project{
  width: 100%
  max-width: 1260px;
}

@media (max-width: 800px) {

  .project_sl img {
    max-height: 200px;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  } 

  .project_sl_img {
    height: 225px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .project_sl {
    width: 100%
  }

  .project .img-head{
    margin-bottom: 35px;
  }

  .project p{
    margin-bottom: 20px;
  }

  .project-content{
    padding: 5%;
    width: 100%;
  }

  .project-content .content{
    width: 100%;
  }

}

}

/***********project************/