
/************keeree****************/

/***************content***************/
.session-content-bg {
  background-color: #0099EB;
  padding: 40px;
}

.session-content {

}


.content-box {
  width: 100%;
  max-width: 1550px;
  padding: 20px;
  color: #FFFFFFFF;
  border: 1px solid #FFFFFFFF; 
  margin: 0 auto; 
}

.content {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto; 
}

.show-PC{
  display: flex;
}

.show-M{
  display: none;
}

.content-interactive-lg{
  padding: 10px;
  margin-left: 25px;
  min-height: 350px;
}


.content-interactive-m{
  margin-top: 30px;
}



@media (max-width: 768px) {
.policy{
  padding: 5%;
}

@media (max-width: 991px) {


  .show-PC{
    display: none;
  }

  .show-M{
    display: block;
  }

  .content-interactive {
    /*padding: 5%;*/
  }
  
  .content-interactive-head {
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
  }

}



#img-policy {
  max-width: 80%;
  max-height: 90%;
}
/***************content***************/

/**************video*************/

/**************video*************/



.num-list{
  font-size: 25px;
  border: 1px solid #4D4D4D;
  border-radius: 11px;
  /*width: 50px;*/
  width: 50px!important;
  height: 50px!important;
  text-align: center;
  padding: 6px;
  color: #4D4D4D;
}

.content-list{
 color: #4D4D4D;
}


