
.youtube .box-session{
  padding-left: calc(((100% - 1240px) / 2) - 270px );
  padding-right: calc(((100% - 1240px) / 2) - 330px);
}

/***********video-youtbe************/


.youtube .oversize-l {

  margin-bottom: 10px;
  
}
.youtube p{
  margin-bottom: 20px;
}


.youtube-video-content{
  width: 50%;
  padding-left: 5%;
  padding-bottom:  15px;
  background-color: #FAFAFA;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:  100px;

}

.youtube-video-content .content{
  width: 80%;
} 

.content-underline{
  margin-top: 25px;
  width: 95%;
}

.youtube-video-content-one-video{

  padding-left: 5%;
  width: 50%;
  padding-bottom:  15px;

}

.youtube-video-content-one-video-underline{

  padding-left: 9.5%;
  width: 100%;
  padding-bottom:  15px;

}

.youtube-video-content-one-video .content{
  width: 80%;
} 

.youtube-video-list{
  width: 50%;
  max-width: 960px;
}


.thumbnails-video{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  
}


.youtube .show-PC{
  display: block;
}

.youtube .show-M{
  display: none;
}

@media (max-width: 1024px) {

  .content-underline{
    max-width: 900px;
    width: 95%;
  }

}


@media (max-width: 768px) {

  .content-underline{
    max-width: 700px;
    width: 95%;
  }
} 

@media (max-width: 425px) {


  .youtube iframe{
    max-height: 200px;
  }

  .youtube-video-content{
   width: 100%;
   padding: 5%;
   background-color: #FAFAFA;
 }


 .content-underline{
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.youtube-video-content-one-video{

  padding: 5%;
  width: 100%;

}

.youtube-video-content-one-video .content {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.youtube-video-content-one-video-underline{

  padding: 5%;
  width: 100%;

}

.youtube-video-content .content{
  width: 100%;
} 


.youtube-video-list{
  width: 100%;
  max-width: 960px;
}

.thumbnails-video{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  /* margin-top: 8px; */
  /*max-width: 315px;*/
  margin-right: 6px;
}

.youtube .show-PC{
  display: none;
}

.youtube .show-M{
  display: block;
}

}

.thumbnails-video-list{
  margin-top: 15px;
}


/***********video-youtbe************/