@font-face {
	font-family: 'Dtac-Regular';
	src: url('../fonts/DTAC2018-Regular.eot'); /* IE9+ Compat Modes */
	src: url('../fonts/DTAC2018-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/DTAC2018-Regular.woff2') format('woff2'), /* Super modern browsers */
 url('../fonts/DTAC2018-Regular.woff') format('woff'); /* Modern browsers */
}
@font-face {
	font-family: "Dtac-Bold";
	src: url('../fonts/DTAC2018-Bold.eot'); /* IE9+ Compat Modes */
	src: url('../fonts/DTAC2018-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/DTAC2018-Bold.woff2') format('woff2'), /* Super modern browsers */
 url('../fonts/DTAC2018-Bold.woff') format('woff'); /* Modern browsers */
}
@font-face {
	font-family: "Dtac-BoldItalic";
	src: url('../fonts/DTAC2018-BoldItalic.eot'); /* IE9+ Compat Modes */
	src: url('../fonts/DTAC2018-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/DTAC2018-BoldItalic.woff2') format('woff2'), /* Super modern browsers */
 url('../fonts/DTAC2018-BoldItalic.woff') format('woff'); /* Modern browsers */
}
@font-face {
	font-family: "Dtac-Italic";
	src: url('../fonts/DTAC2018-Italic.eot'); /* IE9+ Compat Modes */
	src: url('../fonts/DTAC2018-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/DTAC2018-Italic.woff2') format('woff2'), /* Super modern browsers */
 url('../fonts/DTAC2018-Italic.woff') format('woff'); /* Modern browsers */
}
@font-face {
	font-family: "Dtac-Light";
	src: url('../fonts/DTAC2018-Light.eot'); /* IE9+ Compat Modes */
	src: url('../fonts/DTAC2018-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/DTAC2018-Light.woff2') format('woff2'), /* Super modern browsers */
 url('../fonts/DTAC2018-Light.woff') format('woff'); /* Modern browsers */
}
@font-face {
	font-family: "Dtac-LightItalic";
	src: url('../fonts/DTAC2018-LightItalic.eot'); /* IE9+ Compat Modes */
	src: url('../fonts/DTAC2018-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/DTAC2018-LightItalic.woff2') format('woff2'), /* Super modern browsers */
 url('../fonts/DTAC2018-LightItalic.woff') format('woff'); /* Modern browsers */
}

body {
	overflow: hidden;
	overflow-y: auto;
	font-family: "Dtac-Light";
}




strong{
	font-weight:700;
}
.dtac-bold{
	font-family: "Dtac-Bold";
}
.dtac-bold-italic{
	font-family: "Dtac-BoldItalic";
}
.dtac-light{
	font-family: "Dtac-Light";
}
.dtac-light-italic{
	font-family: "Dtac-LightItalic";
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

/* START #main-nav */
#main-nav {
  padding: 20px 15px;
}
#main-nav .navbar-brand {
  font-size: 36px;
  font-family: "Dtac-Regular";
}
#main-nav .bar1, #main-nav .bar2, #main-nav .bar3 {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
#main-nav .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
#main-nav .change .bar2 {
  opacity: 0;
}
#main-nav .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}
#main-nav .navbar-nav li {
  padding: 5px 15px !important;
}
#main-nav .navbar-nav li a {
  font-family: "Dtac-Light";
  font-size: 18px;
  color: #666;
}
#main-nav .navbar-nav li a.active {
  font-family: "Dtac-Bold";
  color: #000;
  border-bottom:3px solid #000;
}

#main-nav form .navbar-nav li {
  text-align:right;
}
#main-nav form .navbar-nav li:first-child {
  border-right:1px solid #000;
}
#main-nav form .navbar-nav li a.active {
  border-bottom:0px;
}
/* END #main-nav */


/* START #banner-area */
.banner-area a, .feature a, .features a, .news .owl-carousel .card a, #gtco-footer .submit-button {
  background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
  background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
  background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
  font-size: 18px;
  font-family: "OpenSans-Semibold";
  color: #fff;
  border-radius: 50px;
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
  text-decoration: none !important;
}
.banner-area a .fa, .feature a .fa, .features a .fa, .news .owl-carousel .card a .fa, #gtco-footer .submit-button .fa {
  background: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #37eaf9;
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
  margin-left: 15px;
}

.feature h2, .features h2 {
  font-family: "Dtac-Regular";
  color: #000000;
  font-size: 36px;
  margin-bottom: 30px;
}

.card {
  border: none;
  background: transparent;
}

.banner-area {
  margin-top: 20px;
  min-height: 500px;
}
.banner-area h1 {
  /*font-family: "Dtac-Light";
  font-size: 48px;*/
  color: #000000;
  margin-top: 70px;
}
.banner-area h1 span {
  font-family: "Dtac-Medium";
}
@media (max-width: 1199px) {
  .banner-area h1 {
    margin-top: 30px;
  }
}
.banner-area p {
  max-width: 450px;
  margin: 20px 0;
  margin-bottom: 40px;
}
.banner-area a {
  display: inline;
  padding: 10px 30px;
  padding-right: 5px;
}
.banner-area .col-md-6 .card .card-img-top {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 0;
}
@media (max-width: 1400px) {
  .banner-area .col-md-6 .card .card-img-top {
    max-width: 400px;
    margin-top: 20px;
    margin-right: auto;
  }
}
@media (max-width: 1199px) {
  .banner-area .col-md-6 .card .card-img-top {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .banner-area .col-md-6 .card .card-img-top {
    margin-top: 100px;
  }
}

/* FEATURE LIST */
.feature-list-area{
	padding-bottom:15px;
}
.feature-list-area .feature-list-img,
.feature-list-area .feature-list-content{
	padding-bottom:15px;
}

/* FEATURE LIST */

/* FOOTER */
#footer{
	background-color:#ececec;
	padding: 20px 15px;
	color:#000;
}
.footer-nav{
	padding-top:15px;

}
.footer-nav nav {
	text-align:center;
}
.footer-nav nav a{
	font-family: "Dtac-Light";
	color:#666;
	text-decoration:none;
	text-transform:uppercase;
}
@media (max-width: 575px) {  
.footer-brand {
	text-align:center;
}
}

/* GO TO TOP */
#go-to-top{
	cursor: pointer;
	position: fixed;
	bottom: 10%;
	right: 15px;
	max-width: 120px;
}
#go-to-top img{
	width: 100%;
}

/* PRETTY CUSTOM */
.dropdown-toggle::after {
  margin-left: 10px;
}


.oversize-l{
	font-size:3em;
}
.oversize-xl{
	font-size:4em;
}
.oversize-xxl{
	font-size:5.5em;
}

@media (max-width: 1200px) {  
	.oversize-l{
		font-size:2em;
	}
	.oversize-xl{
		font-size:3em;
	}
	.oversize-xxl{
		font-size:4.5em;
	}
}

@media (max-width: 575px) {  
	.oversize-l{
		font-size:1.5em;
	}
	.oversize-xl{
		font-size:2em;
	}
	.oversize-xxl{
		font-size:2.5em;
	}
}