
.banner .box-session {
	/*margin-left: 5% ;*/
	margin-top: 5%;
	padding-left: calc(((100% - 1240px) / 2) - 270px );
	padding-right: calc(((100% - 1240px) / 2) - 330px);
}


/***********banner************/
.banner .oversize-xl {

	margin-bottom: 10px;

}

.banner p{
	margin-bottom: 20px;
}

.banner-img img{
	width: 100%;
}

.banner-content{
	padding-left: 5%;
}

.session .banner {
	padding-left: 5%;
}

.img-banner{
	width: 100%
	max-width: 720px;
	max-height: 460px;
	/*padding-right: calc(((100% - 1240px) / 2) - 300px);*/
}
/***********banner************/