


/***********news************/

.session-news {
  margin-top: 200px; 
  margin-bottom: 140px; 
}

.news h1 {

  padding-bottom: 30px;
  
}

.news-content{
  padding-left: 40px;
  /*padding-left: calc(((100% - 1240px) / 2) - 150px );*/
  /*padding-right: calc(((100% - 1240px) / 2) - 300px);*/
  /*max-width: 4000px;*/

}
/***********news************/



.menu_zone{
  min-width: 1000px;
  min-height: 800px;
  position: relative;
}

.fix_col400 {
  min-height: 400px;
}


