.line{
  position: absolute;
  height: 20px;
  width: 100px;
  border-radius: 10px;
  z-index: 10;
}
.blue{
  top: 480px;
  left:-200px;
  width: 80px!important;
  background-color: #B9E5FB;
}
.yellow{
  top: 250px;
  left: 100%;
  background-color: #FFEB88;
}
.green{
  top: 80px;
  left: -400px;
  background-color: #19AAF8;
}

@media (max-width: 1024px) {  
  .line{
    position: absolute;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    z-index: 10;
  }
  .blue{
    top: 480px;
    left:-200px;
    width: 80px!important;
    background-color: #B9E5FB;
  }
  .yellow{
    top: 250px;
    left: -100%;
    background-color: #FFEB88;
  }
  .green{
    top: 80px;
    left: -400px;
    background-color: #19AAF8;
  }
}

.icon{
  width: 80px;
  height: 80px;
  margin-right: 20px;
  background-color: transparent;
  transition: margin-top 0.55s;
  
}
.icon_hover{
  margin-top: -40px;
}
.text{
  width: 190px;
  min-width: 190px;
  height: auto;
  background-color: transparent;
}

.text p {
 font-size: 16px;
}

.box-sm{
  display: flex;
  padding: 10px;
  /*width: 85%;*/
  min-width: 290px;
  height: 100%;
  background-color: transparent; 
  transition: height 0.55s ease, width 0.55s ease;
  -webkit-transition: height 0.55s ease, width 0.55s ease;
  -moz-transition: height 0.55s ease, width 0.55s ease;
}

.box{
  display: flex;
  padding: 10px;
  width: 85%;
  min-width: 290px;
  height: 100%;
  background-color: transparent; 
  transition: height 0.55s ease, width 0.55s ease;
  -webkit-transition: height 0.55s ease, width 0.55s ease;
  -moz-transition: height 0.55s ease, width 0.55s ease;
}

.box:hover{
  background-color: #0590FE;
  display: flex;
  padding-top: 60px;
  padding-left: 35px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: -50px;
  left: -10px;
  color: white;
  border-bottom-right-radius: 25px;
  transition: height 0.55s ease, width 0.55s ease;
  -webkit-transition: height 0.55s ease, width 0.55s ease;
  -moz-transition: height 0.55s ease, width 0.55s ease;

}


.show-PC{
  display: block;
}

.show-M{
  display: none;
}

@media (max-width: 800px) {  

  .show-PC{
    display: none;
  }

  .show-M{
    display: block;
  }

}