
/************keeree****************/



/* 
/***********news************/

/***********news************/

/***********footer************/

/***********footer************/


.menu_zone{
  min-width: 1000px;
  min-height: 800px;
  position: relative;
}

.fix_col400 {
  min-height: 400px;
}


