

.detail-project p {
    width: 480px;
}
/**********banner********/
.banner-img img {
    width: 100%;
}
/**********banner********/



  /**********project********/
.project-img {
    width: auto;
    height: 70px;
    background-color: transparent;
    margin-top: 50px;
}
.box-project {
    height: 250px;
    margin-left: 20px;
    background-color: #FAFAFA;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 0px;
}
.box-project:hover {
    background-color: #DFDEDE;
    cursor: pointer;
}

@media (max-width: 425px) {
	.project-img {
		width: auto;
		height: 50px;
		margin-top: 40px;
	}
	.box-project {
		margin-top: 10px;
		height: auto;
		min-height: 150px;
		margin-left: 0px;
		
	}

	#lottie_smart{
		padding: 15px;
	}
}

  /**********project samrt********/
.project_smartfarmer{
	margin-bottom: 5% !important;
}

.project_smartfarmer .box_left, .project_smartfarmer .box_right{
	height: 500px;
}

.project_smartfarmer .box_left{
	color: #4D4D4D !important;
	text-align: right;
	position: relative;
}
.project_smartfarmer .balloon_text_left{
	position: absolute; 
	left: 0px; 
	top: 200px;
}

.project_smartfarmer .box_right{
	color: #4D4D4D !important;
	line-height: 2em;
}
.project_smartfarmer .balloon_text_right{
	position: absolute; 
	right: 10px; 
	top: 350px;
}
.project_smartfarmer .space{
	width: 30px;
	height: 500px;
}

.project_smartfarmer .dot{
	width: 100%;
	height: 100%;
	max-width: 20px;
	max-height: 20px;
	margin: 5px;
	background-color: #19AAF8;
	border-radius: 50%;
}
.project_smartfarmer .line{
	background-image: url("../../assets/images/project/line.png");
	background-position: center;
	background-repeat: repeat-y;
	height: 100%;
}

.project_smartfarmer .box_all{
	height: auto;
	position: relative;
	margin-top: -5%;
}

.project_smartfarmer #smartlayer1{
	z-index: 7;
}
.project_smartfarmer #smartlayer2{
	position: absolute;
	z-index: 8;
}
.project_smartfarmer #smartlayer3{
	position: absolute;
	z-index: 9;
}
.project_smartfarmer #circle_1{
	position: absolute;
	right: 22%;
	top: 30%;
	width: 130px;
	height: 130px;
	z-index: 10;
}
.project_smartfarmer #circle_2{
	position: absolute;
	right: 15%;
	top: 15%;
	width: 100px;
	height: 100px;
	z-index: 10;
}

.project_smartfarmer #circle_1:hover{
	position: absolute;
	right: 20%;
	top: 27%;
	width: 200px;
	height: 200px;
	z-index: 10;
	-webkit-transition: all 1s; 
  	transition: all 1s; 
}
.project_smartfarmer #circle_2:hover{
	position: absolute;
	right: 10%;
	top: 10%;
	width: 200px;
	height: 200px;
	z-index: 10;
	-webkit-transition: all 1s; 
  	transition: all 1s; 
}




@media (max-width: 425px) {
	.project_smartfarmer .box_all{
		height: 370px;
		position: relative;
		overflow-x: hidden;
		width: 100%;
	}
	.project_smartfarmer .line{
		margin-left: 10px;
	}
	.project_smartfarmer .dot{
		margin-left: 10px;
	}
	.project_smartfarmer #smartlayer1{
		position: absolute;
		bottom: 0px;
		right: -60%;
		width: 220%;
		z-index: 7;
	}
	.project_smartfarmer #smartlayer2{
		position:absolute;
		bottom: 0px;
		right: -60%;
		width: 220%;
		z-index: 8;
	}
	.project_smartfarmer #smartlayer3{
		position: absolute;
		bottom: 0px;
		right: -60%;
		width: 220%;
		z-index: 9;
	}
	.project_smartfarmer #circle_1{
		left: 50%;
		top: 7%;
		width: 80px;
		height: 80px;
	}
	.project_smartfarmer #circle_2{
		left: 70%;
		top: 0px;
		width: 60px;
		height: 60px;
	}
	.project_smartfarmer #lottie_smart{
		margin-top: -100px;
		padding: 15px;
	}
	
}

/**********project net arsa********/
.project_net .box_left, .project_net .box_right{
	height: 500px;
}

.project_net .box_left{
	color: #4D4D4D !important;
	text-align: right;
	position: relative;
}
.project_net .box_all{
	height: auto;
	position: relative;
	margin-top: -10%;
}
.project_net .space{
	width: 30px;
	height: 500px;
}

.project_net .dot{
	width: 100%;
	height: 100%;
	max-width: 20px;
	max-height: 20px;
	margin: 5px;
	background-color: #19AAF8;
	border-radius: 50%;
}
.project_net .line{
	background-image: url("../../assets/images/project/line.png");
	background-position: center;
	background-repeat: repeat-y;
	height: 100%;
}
.project_net .netarsa_lottie{
	margin: 0px auto;
	max-width: 900px;
	text-align: center;
}

@media (max-width: 425px) {
	.project_net .box_all{
		height: auto;
		position: relative;
		overflow-x: hidden;
		margin-top: -10%;
		width: 100%;
	}
	
	.project_net .line{
		margin-left: 10px;
	}
	.project_net .dot{
		margin-left: 10px;
	}
}

/**********project safe********/
.project_safe .box_left, .project_net .box_right{
	height: 500px;
}

.project_safe .box_left{
	color: #4D4D4D !important;
	text-align: right;
	position: relative;
}
.project_safe .box_all{
	height: auto;
	position: relative;
	margin-top: -15%;
}
.project_safe .space{
	width: 30px;
	height: 500px;
}

.project_safe .dot{
	width: 100%;
	height: 100%;
	max-width: 20px;
	max-height: 20px;
	margin: 5px;
	background-color: #19AAF8;
	border-radius: 50%;
}
.project_safe .line{
	background-image: url("../../assets/images/project/line.png");
	background-position: center;
	background-repeat: repeat-y;
	height: 100%;
}
.project_safe .safe_lottie{
	margin: 0px 25% 0px auto;
	max-width: 900px;
	position: relative;
}
.safe_lottie .safe_layer_1{
	position: absolute;
	right: 40%;
	bottom: -10%;
	
}
.safe_lottie .safe_layer_3{
	position: absolute;
	top: -70%;
}
#safe_lottie{
	width: 40%;
}
@media (max-width: 425px) {
	#safe_lottie{
		margin: 0px auto;
		width:50%;
	}
	.project_safe .box_all{
		height: 250px;
		position: relative;
		width: 100%;
		margin-top: 10%;
	}
	
	.project_safe .line{
		margin-left: 10px;
	}
	.project_safe .dot{
		margin-left: 10px;
	}
	.project_safe .safe_lottie{
		margin: 0px auto;
		max-width: 900px;
		position: relative;
	}
	.safe_lottie .safe_layer_1 img{
		width: 50%;
	}
	.safe_lottie .safe_layer_1{
		position: absolute;
		right:0px;
		z-index: 8;
		bottom: -20%;
		text-align: right;
	}
	.safe_lottie .safe_layer_2{
		text-align: center;
		z-index: 7;
	}
	.safe_lottie .safe_layer_3 img{
		width: 50%;
	}
	.safe_lottie .safe_layer_3{
		position: absolute;
		z-index: 9;
		top:-20%;
	}
}


/**********project safe********/
.project_chain .box_left, .project_net .box_right{
	height: 500px;
}

.project_chain .box_left{
	color: #4D4D4D !important;
	text-align: right;
	position: relative;
}
.project_chain .box_all{
	height: auto;
	position: relative;
	margin-top: -5%;
}
.project_chain .space{
	width: 30px;
	height: 500px;
}

.project_chain .dot{
	width: 100%;
	height: 100%;
	max-width: 20px;
	max-height: 20px;
	margin: 5px;
	background-color: #19AAF8;
	border-radius: 50%;
}
.project_chain .line{
	background-image: url("../../assets/images/project/line.png");
	background-position: center;
	background-repeat: repeat-y;
	height: 100%;
}
.project_chain .chain_lottie{
		text-align: center;
	}

.project_chain{
	margin-bottom: 0px !important;
}

@media (max-width: 425px) {
	.project_chain .box_all{
		height: 250px;
		position: relative;
		overflow-x: hidden;
		width: 100%;
	}
	
	.project_chain .line{
		margin-left: 10px;
	}
	.project_chain .dot{
		margin-left: 10px;
	}
	.project_chain .chain_lottie{
		position: absolute;
		width: 200%;
    	right: -80%;
	}
	.project_chain #lottie_smart {
		padding: 0px 15px !important;
	}
}


