
/************keeree****************/

/***************content***************/
.session-content {
  background-color: #0099EB;
  padding: 40px;
}

.content-box {
  padding: 20px;
  color: #FFFFFFFF;
  border: 1px solid #FFFFFFFF; 
}
/***************content***************/

/**************video*************/

/**************video*************/



.num-list{
  font-size: 25px;
  border: 1px solid #4D4D4D;
  border-radius: 11px;
  /*width: 50px;*/
  width: 50px!important;
  height: 50px!important;
  text-align: center;
  padding: 6px;
  color: #4D4D4D;
}

.content-list{
 color: #4D4D4D;
}


